
<div>
    <canvas id="electrification-all-types" height="200"></canvas>
    <canvas id="electrification-by-type" height="200"></canvas>

</div>


<p><small>
STK = Single Track Kilometre - that is, one kilometre of wired single track. Includes Network Rail routes only; trams, metros, high
speed rail and heritage / tourist lines not included. STKs are current installation; historic STKs and
removed/closed schemes are not included.</small>
</p>
