canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


/*--- navigation bar ---*/
.navbar {
	background:#6ab446;
	margin-bottom:0;
}
.nav-link,
.navbar-brand {
	color: #fff;
	cursor: pointer;
}
.nav-link {
	margin-right: 1em !important;
}
.nav-link:hover {
	color: #000;
}
.navbar-collapse {
	justify-content: flex-end;
}

.header {
	  background-image: url('headerimg.jpg');
	  background-position: left;
	  margin-top: 0;
	  padding-left: 0;
	  height: 211px;
}

.description h1 {
  color: #6ab446;
}

.page-footer {
  background-color: #222;
  color: #ccc;
  padding: 60px 0 30px;
}
.footer-copyright {
  color: #666;
  padding: 40px 0;
}

  .description h1 {
    font-size: 2em;
  }

}

/*--- mine ---*/

body {
	padding: 0;
	margin: 0;
	background: #fff;
	font-size: 10em;
	font-family: Verdana, Arial, San Serif;
}

.map, .sidebar {
	padding: 10em auto;
}

h1.title {
	position: absolute
	padding-left: 300;
}

h3.warning {
	background: orange;
}

/*--- map key ---*/

line {
	stroke-width:3;
}

line.service {
	stroke-dasharray:15,0;
}

line.construction {
	stroke-dasharray:15,10;
}

line.proposed {
	stroke-dasharray:15,10,3,10;
}

line.none {
	stroke:#2c2e35;
}

line.OCLv0 {
	stroke: #9ca3a9;
}

line.OCLv600 {
	stroke: #bd5d16;
}

line.OCLv750 {
	stroke: #ffce36;
}

line.OCLv1500 {
	stroke: #ff893f;
}

line.OCLv25000 {
	stroke: #ff3818;
}

line.THREEv550 {
	stroke: #b3e297;
}

line.THREEv630 {
	stroke: #7bc64e;
}

line.THREEv750 {
	stroke: #09843b;
}

line.FOURv630 {
	stroke: #0a3797;
}

line.FOURv750 {
	stroke: #11a7e0;
}

line.OCLv25000_THREEv750 {
	stroke: #fe85a8;
}

line.OCLv25000_FOURv750 {
	stroke: #9d1762;
}

svg.legend {
	height: 10px;
	width: 75px;
}

table {
  border-collapse: collapse;
  	font-size: 0.9em;
}

table, tr, td {
	border: 0px solid black;
}

th {
	background-color: #6ab446;
	color: white;
	border: 0;
}

th, td {
	padding: 5px 10px;
	text-align: center;
}

th.span {
	text-align: left;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

