
$base-color: #333333;



// TOP navigation bar ---*/
.navbar {
	background: $base-color;
	//background-image: url(headerimg.jpg);

}
.nav-link,
.navbar-brand {
	color: #fff;
	cursor: pointer;
	font-family: monospace;
}
.nav-link {
	margin-right: 1em !important;
}
.nav-link:hover {
	color: yellow;

}
.navbar-collapse {
	justify-content: flex-end;
}


.legend_table {

    font-size: 70%;

    td {
        padding: 5px 4px;
        border: none;
        text-align: center;
    }

    th{
        background-color: #dddddd;
        text-align: center;
        padding: 0 3px;
    }

    th.span {
        color: #666666;
        background-color: #dddddd;
        padding: 0 8px;
        border-top: none;
        border-top-right-radius: 10px;
        text-align: left;
    }

    // The map legend is at present a line, with only the bottom border for dashing
    hr.legend {
            border: none; // no border apart from bottom
            border-top: 4px solid transparent;
            padding: 0;
            margin: 0;
            background-color: #2c2e35;
            //color: pink;
            width: 50px;

            //height: 4px;
            &.none {
                 background-color: #222222 !important;
            }

            // Overhead Contact
            &.OCLv600 {
                 background-color: #C26B2A !important;
            }
            &.OCLv750 {
                 background-color: #FFCE36 !important;
            }

            &.OCLv1500{
                 background-color: #FF893f !important;
            }

            &.OCLv25000 {
                 background-color: #FF3818 !important;
            }

            // 3rd rail
            &.THREEv550 {
                 background-color: #b3e298 !important;
            }
            &.THREEv630 {
                 background-color: #7bc64e !important;
            }

            &.THREEv750{
                 background-color: #09843b !important;
            }

            // 4th rail
            &.FOURv630 {
                 background-color: #0a3797 !important;
            }
            &.FOURv750 {
                 background-color: #11a7e0 !important;
            }

            // Dual elecvtrified

            &.OCLv25000_THREEv750 {
                 background-color: #fe85a8 !important;
            }

            &.OCLv25000_FOURv750 {
                 background-color: #9d1762 !important;
            }


            &.construction {
                border-top: 4px dashed black;
            }
            &.proposed {
                border-top: 4px dashed white;
            }
    }

}


.ol-attribution {
    font-size: 60%;
}